#about {
    background-color: #0c2c50;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

/* D.R.Y.!
    #about h2 {
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;

} */

#about p {
    max-width: 600px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto Mono', monospace;
}