#contact {
    background-color: #0c2c50;

}

#contact label {
    margin-bottom: 1rem;
    display: inline-block;
}

#contact input,
#contact textarea {
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: .25rem;
    resize: vertical;
}

#contact .columns p {
    color: white;
    font-family: 'Roboto Mono', monospace;
}

#contact .columns a {
    color: white;
}

#contact button {
    display: inline-block;
    padding: .5rem 1rem;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .3);
    background-color: #0472c0;
    border-radius: .25rem;
    color: white;
    font-family: 'Roboto Mono', monospace; /*added*/
}

#contact button.outlined {
    border: 2px solid #0472c0;
    background-color: transparent;
    color: #0472c0;
}

#contact button.rounded {
    border-radius: 50rem;
}

@media (min-width: 992px) {
    #contact .columns {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #contact .columns>div {
        flex: 1 0 calc(50% - 1rem);
    }
}