.site-header{
    background-image: url(./Images/Natasha\ &\ Ernie\ -\ Digital\ -\ Andi\ Artigue\ Photography-84.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.site-header #name{
    position:absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: white;
    font-size: 10rem;
    margin-bottom: 0;
}

#main-nav{
    display: none;
    background-color:#eee;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: relative;
}

#main-nav.show{
    display: block;
}

.nav-buttons{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: white;
    color: blue;
    border-color: #eee;
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin: 1rem;
}

#main-nav .nav-list {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

#main-nav .nav-list li{
    height: 100%;
    display: flex;
    align-items: center;
}

#main-nav .nav-list a{
    text-decoration: none;
    color: white;
    flex: 1 0 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#main-nav .nav-list a:focus,
#main-nav .nav-list a:hover{
    color: black;
}

@media (min-width: 767px) {
    body {
        background-color: black;
    }
}

@media (min-width: 992px) {
    #open-button, 
    #close-button {
        display: none;
    }
    #main-nav {
        display: block;
        background-color: transparent;
    }
    #main-nav .nav-list{
        flex-direction: row;
        font-size: 1rem;
        height: auto;
        padding: 1rem;
        margin: 0;
        
    }
}
