@import url("./header.css");
@import url("./about.css");
@import url("./work.css");
@import url("./contact.css");

body {
    /*added*/
    font-family: sans-serif;
}

.section {
    padding: 100px 50px;
}

.project {
    border: 1px solid black;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* This is for an element with the class section and the class red.
.section.red{

}

*/


/* For an element with the class red that is a child for the class section*
.section .red{

}

/