@import url("./header.css");
@import url("./about.css");
@import url("./work.css");
@import url("./contact.css");

/* body {
    font-family: sans-serif;
} */

.section {
    padding: 100px 50px;
}

.project {
    border: 1px solid black;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    /* no plans on adding any other h2 elements any time soon be sure to change if you do*/
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}

h3 {
    /* no plans on adding any other h3 elements any time soon be sure to change if you do*/
    font-family: 'Rubik', sans-serif;
}


/* This is for an element with the class section and the class red.
.section.red{

}

*/


/* For an element with the class red that is a child for the class section*
.section .red{

}

/