@import url("./header.css");
@import url("./about.css");
@import url("./work.css");

*{ /*added*/
    font-family: sans-serif;
}

.section {
    padding: 100px 50px;
}

.project{
    border: 1px solid black;
}

.columns {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

.columns .project{
    flex: 1 0 calc(50% - 1rem);
}

/* This is for an element with the class section and the class red.
.section.red{

}

*/


/* For an element with the class red that is a child for the class section*
.section .red{

}

/
