#work {
    background-color: #0c2c50;
}

#work h2 {
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}

#work .project {
    background-color: white;
    box-shadow: 1rem 1rem 1rem black;
    margin-bottom: 1rem;
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
}

/* Added font family to p tags in work section */
#work .project p {
    font-family: 'Roboto Mono', monospace;
}

#work a {
    /*added*/
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
}

#work .project a::after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (min-width: 992px) {
    #work .columns {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #work .columns .project {
        flex: 1 0 calc(50% - 1rem);
    }

    #work .project {
        margin: 1rem;
    }

    #work .project.first {
        margin-left: 0;
        margin-right: 0;
    }

    #work .project .wrapper {
        margin: 1rem;
    }
}

@media (max-width:992px) {

    /*added to eliminate issue of image being positioned to the left when on mobile*/
    #work .project.other img {
        width: 100%;
    }
}