h2{ /*added*/
    color: white;
    text-align: center;
    text-transform: uppercase;
}

#work{
    background-color: #0472c0;
}

#work .project{
    background-color: white;
    box-shadow: 1rem 1rem 1rem black;
    margin: 1rem; 
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
}

#work .project.first{
    margin-left: 0;
    margin-right: 0;
}

#work .project .wrapper{
    margin: 1rem;
}

#work a{ /*added*/
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
}

#work .project a::after{
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}